<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zb.project.mapper.ChinaTotalMapper">

    <resultMap id="BaseResultMap" type="cn.zb.project.entity.ChinaTotal">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="confirm" column="confirm" jdbcType="INTEGER"/>
            <result property="input" column="input" jdbcType="INTEGER"/>
            <result property="severe" column="severe" jdbcType="INTEGER"/>
            <result property="heal" column="heal" jdbcType="INTEGER"/>
            <result property="dead" column="dead" jdbcType="INTEGER"/>
            <result property="suspect" column="suspect" jdbcType="INTEGER"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,confirm,input,
        severe,heal,dead,
        suspect,update_time
    </sql>
</mapper>
